In [1]:
from selenium import webdriver
driver = webdriver.Chrome()
driver.get("https://www.premierleague.com/tables")
# driver.excute_script('')

In [2]:
driver.find_element_by_xpath('//*[@id="advertClose"]').click()

In [3]:
table = driver.find_elements_by_css_selector("#mainContent table td.team")
teams = []
for team in table:
    teams.append(team.text)
    teams = teams[:20]
teams

['Manchester City',
 'Manchester United',
 'Tottenham Hotspur',
 'Liverpool',
 'Chelsea',
 'Arsenal',
 'Burnley',
 'Everton',
 'Leicester City',
 'Newcastle United',
 'Crystal Palace',
 'Bournemouth',
 'West Ham United',
 'Watford',
 'Brighton and Hove Albion',
 'Huddersfield Town',
 'Southampton',
 'Swansea City',
 'Stoke City',
 'West Bromwich Albion']

In [4]:
driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div[1]/div[3]/div/div/div/table/tbody/tr[1]/td[2]').text

'1'

In [ ]:
# //*[@id="mainContent"]/div[2]/div[1]/div[3]/div/div/div/table/tbody/tr[1]/td[5]
# //*[@id="mainContent"]/div[2]/div[1]/div[3]/div/div/div/table/tbody/tr[1]/td[10]

In [5]:
%%time
columns = driver.find_element_by_css_selector("#mainContent thead").text.replace('\n', ' ').split(' ')[1:-2]
row = []
for i in range(0, 20):    
    for j in range(2, 11+1):
        xpath = '//*[@id="mainContent"]/div[2]/div[1]/div[3]/div/div/div/table/tbody/tr{}/td{}'.format([2*i+1], [j])
        row.append(driver.find_element_by_xpath(xpath).text)
data = np.array(row).reshape((20, 10))

CPU times: user 150 ms, sys: 10.1 ms, total: 160 ms
Wall time: 5.63 s

In [6]:
df = pd.DataFrame(data, columns=columns)
df

,Position,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,1,Manchester City,38,32,4,2,106,27,+79,100
1,2,Manchester United,38,25,6,7,68,28,+40,81
2,3,Tottenham Hotspur,38,23,8,7,74,36,+38,77
3,4,Liverpool,38,21,12,5,84,38,+46,75
4,5,Chelsea,38,21,7,10,62,38,+24,70
5,6,Arsenal,38,19,6,13,74,51,+23,63
6,7,Burnley,38,14,12,12,36,39,-3,54
7,8,Everton,38,13,10,15,44,58,-14,49
8,9,Leicester City,38,12,11,15,56,60,-4,47
9,10,Newcastle United,38,12,8,18,39,47,-8,44
10,11,Crystal Palace,38,11,11,16,45,55,-10,44
11,12,Bournemouth,38,11,11,16,45,61,-16,44
12,13,West Ham United,38,10,12,16,48,68,-20,42
13,14,Watford,38,11,8,19,44,64,-20,41
14,15,Brighton and Hove Albion,38,9,13,16,34,54,-20,40
15,16,Huddersfield Town,38,9,10,19,28,58,-30,37
16,17,Southampton,38,7,15,16,37,56,-19,36
17,18,Swansea City,38,8,9,21,28,56,-28,33
18,19,Stoke City,38,7,12,19,35,68,-33,33
19,20,West Bromwich Albion,38,6,13,19,31,56,-25,31